@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Podkova:wght@600&display=swap');

.bigtext{
    font-family: 'Iceberg', cursive;
    font-size: xx-large;
    display: flex;
    flex-flow: row;
    margin: 80px;
    margin-left: 540px;
    gap: 20px;
}

.keycontainer{
    display: flex;
    font-size: x-large;
    flex-flow: row;
    font-family:'Segoe UI';
    justify-content: center;
    gap: 70px;
    
}

.key{
    height: 45px;
    width: 50px;
    border: black solid 4px;
    text-align:center;
    align-items: center;
    justify-content: center;
    padding: 18px;
}

.floatcontainer{
    background-image: url(assets/bg.png);
    background-position-y:bottom;
    background-size:180px;
}

.desc{
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-family: 'Iceberg', cursives;
    margin-left: 580px;
}



